::-webkit-scrollbar {
  display: none;
}

img {
  max-height: 25rem !important;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.video {
   max-height: 25rem !important;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nav {
  padding-top: 24px;
  margin-left: 3rem;
}
.nav-link {
  color: black;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

p {
  margin: 0 !important;
  font-size: 12px;
}

a {
  font-size: 12px;
}

.col-9 {
  z-index: 1;
  margin-top: 2rem;
}

.col-3 {
  margin-top: 2rem;
}

.carousel {
  width: 40rem !important;
}

.caro {
  max-width: 90%;
  height: auto;
  overflow: scroll;
  white-space: nowrap;
}

.item {
  margin-bottom: 8rem;
}

.slide {
  display: inline-block;
  overflow-y: scroll;
}

#footer {
  margin-bottom: 2rem;
  font-size: 10px;
}
