::-webkit-scrollbar {
  display: none;
}

img {
  max-height: 25rem !important;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nav-link{
  color: black;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

p{
  margin: 0 !important;
}

.col-9{
  z-index: 1;
}

.carousel{
  width: 40rem !important;
}

.caro {
  max-width: 100%;
  height: auto;
  overflow: scroll;
  white-space:nowrap;
}

.item {
  margin-bottom: 8rem;
}

.slide {
  display: inline-block;
  overflow-y: scroll;
}